.cb{clear:both}
.fl{float:left}
.fwb{font-weight:bold}

.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml50{margin-left:50px;}

.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}

.gray-background{background:#F1F1F1}
.yellow-background{background:#FADCA4}